        <div id="footer-top-wrapper">
            <div id="footer-top"></div><!--footer-top-->
        </div><!--footer-top-wrapper-->

        <div id="footer-bottom-wrapper">
            <div id="footer-bottom">
                <div id="footer-nav1">
                    <div class="menu-footer-menu-container">
                        <ul id="menu-footer-menu" class="menu">

                            {% assign widget-posts = site.pages | sort:"bottommenu" %}
                            {% for p in widget-posts %}

			    {% if p.bottommenu > 0 %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ p.url }}">{{ p.title }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                </div><!--footer-nav1-->

                <div id="copyright">
                    <p>Copyright &#169; 2013 Half Past Green.</p>
                </div><!--copyright-->
            </div><!--footer-bottom-->
        </div><!--footer-bottom-wrapper-->

