	<div id="footer-top-wrapper">
		<div id="footer-top"></div><!--footer-top-->
	</div><!--footer-top-wrapper-->

	<div id="footer-top-wrapper">
		<div id="footer-top"></div><!--footer-top-->
	</div><!--footer-top-wrapper-->
	<div id="footer-bottom-wrapper">
		<div id="footer-bottom">
			<div id="footer-nav1">
				<div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="/terms-of-use/">Terms of Use</a></li>
<li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="/privacy-policy/">Privacy Policy</a></li>
<li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="/about-us/">About Us</a></li>
<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="/contact-us/">Contact Us</a></li>
</ul></div>			</div><!--footer-nav1-->
			<div id="copyright">
				<p>Copyright © 2013 Half Past Green.</p>
			</div><!--copyright-->
		</div><!--footer-bottom-->
	</div><!--footer-bottom-wrapper-->
