<div class="middle-widget">
    <div class="middle-160">
        <div class="image-contain">
            <a href="{{ widget-post.url }}" rel="bookmark" title="{{ widget-post.title }}">
                <img width="199"
                     height="223" src="{{ widget-post.image }}"
                     class="attachment-medium-thumb wp-post-image" alt="{{ widget-post.title }}" />
            </a>

            <div class="image-box">
                <a href="{{ widget-post.url }}">
                    {{ widget-post.title }}
                </a>
            </div><!--image-box-->
        </div><!--image-contain-->
    </div>
</div>