        <div id="nav">
            <div id="main-nav-wrapper">
                <div id="main-nav">
                    <div class="menu-primary-menu-container">
                        <ul id="menu-primary-menu" class="menu">
                            <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40">
                                <a href="/" rel="nofollow">Home</a>
                            </li>

                            {% assign widget-posts = site.cats %}
                            {% for post in widget-posts %}

                            <li id="menu-item-36" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-36">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div><!--main-nav-->

                <div id="nav-mobi">
                    <div class="menu-primary-menu-container">
                        <select>
                            <option value="#">
                                Menu
                            </option>

                            <option value="/">
                                Home
                            </option>

                            {% for post in widget-posts %}

                            <option value="{{ post.url }}">
                                {{ post.title }}
                            </option>

                            {% endfor %}
                        </select>
                    </div>
                </div><!--nav-mobi-->
            </div><!--main-nav-wrapper-->
        </div><!--nav-->

