        <div id="nav">
            <div id="main-nav-wrapper">
                <div id="main-nav">
                    <div class="menu-primary-menu-container">
                        <ul id="menu-primary-menu" class="menu">
                            <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40">
                                <a href="/" rel="nofollow">Home</a>
                            </li>

                            <li id="menu-item-36" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-36">
                                <a href="/around-the-house/">Around The House</a>
                            </li>

                            <li id="menu-item-53" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-53">
                                <a href="/our-animals/">Our Animals</a>
                            </li>

                            <li id="menu-item-67" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-67">
                                <a href="/environmental/">Environmental</a>
                            </li>

                            <li id="menu-item-49" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49">
                                <a href="/your-story/">Your Story</a>
                            </li>
                        </ul>
                    </div>
                </div><!--main-nav-->

                <div id="nav-mobi">
                    <div class="menu-primary-menu-container">
                        <select>
                            <option value="#">
                                Menu
                            </option>

                            <option value="/">
                                Home
                            </option>

                            <option value="/around-the-house/">
                                Around The House
                            </option>

                            <option value="/our-animals/">
                                Our Animals
                            </option>

                            <option value="/environmental/">
                                Environmental
                            </option>

                            <option value="/your-story/">
                                Your Story
                            </option>
                        </select>
                    </div>
                </div><!--nav-mobi-->
            </div><!--main-nav-wrapper-->
        </div><!--nav-->

