              <div class="sidebar-widget">
                <div class="tabber-container">
                  <ul class="tabs">
                    <li>
                      <h4><a href="#tab1" rel="nofollow">Latest</a></h4>
                    </li>
                    <li>
                      <h4><a href="#tab2" rel="nofollow">Popular</a></h4>
                    </li>
                  </ul>

                  <div id="tab1" class="tabber-content">
                    <ul>
                      {% for post in site.posts limit:3 %}

                      <li>
                        <div class="tabber-image">
                          <a href="{{ post.url }}"
                          rel="bookmark" title=
                          "{{ post.title }}"><img width="120" height=
                          "134" src=
                          "{{ post.thumbnail }}"
                          class="attachment-small-thumb wp-post-image" alt=
                          "{{ post.title }}" /></a>
                        </div>

                        <div class="tabber-text">
                          <a href="{{ post.url }}"
                          class="main-headline">{{ post.title }}</a>

                          <p>{{ post.excerpt | strip_html | truncatewords: 9 }}</p>

                          <div class="headlines-info">
                            <ul class="headlines-info">
                              <li>{{ post.date | date: '%B %d, %Y' }}</li>
                            </ul>
                          </div><!--headlines-info-->
                        </div><!--tabber-text-->
                      </li>

                      {% endfor %}
                    </ul>
                  </div><!--tab1-->

                  <div id="tab2" class="tabber-content">
                    <ul>
                      {% for post in site.posts offset:3 limit:3 %}

                      <li>
                        <div class="tabber-image">
                          <a href="{{ post.url }}" rel=
                          "bookmark" title="{{ post.title }}"><img width=
                          "120" height="134" src=
                          "{{ post.thumbnail }}"
                          class="attachment-small-thumb wp-post-image" alt=
                          "{{ post.title }}" /></a>
                        </div>

                        <div class="tabber-text">
                          <a href="{{ post.url }}" class=
                          "main-headline">{{ post.title }}</a>

                          <p>{{ post.excerpt | strip_html | truncatewords: 9 }}</p>

                          <div class="headlines-info">
                            <ul class="headlines-info">
                              <li>{{ post.date | date: '%B %d, %Y' }}</li>
                            </ul>
                          </div><!--headlines-info-->
                        </div><!--tabber-text-->
                      </li>

                      {% endfor %}
                    </ul>
                  </div><!--tab2-->
                </div><!--tabber-container-->
              </div>
