              <div class="sidebar-widget">
                <h3>Connect on Facebook</h3>

                <div class="textwidget">
                  <div id="fb-root"></div><script type="text/javascript">
//<![CDATA[
                  (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=414942818575314";
                  fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                  //]]>
                  </script>

                  <div class="fb-like-box" data-href=
                  "http://www.facebook.com/halfpastgreen" data-width="300"
                  data-colorscheme="light" data-show-faces="true" data-header="false"
                  data-stream="false" data-show-border="false"></div>
                </div>
              </div>

              <div class="sidebar-widget">
                <h3>Connect on Google+</h3>

                <div class="textwidget">
                  <!-- Place this tag where you want the widget to render. -->

                  <div class="g-page" data-href="//plus.google.com/108558293476149465642"
                  data-layout="landscape" data-showtagline="false" data-showcoverphoto=
                  "false" data-rel="publisher"></div>
                  <!-- Place this tag after the last widget tag. -->
                  <script type="text/javascript">
//<![CDATA[
                  (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/plusone.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                  //]]>
                  </script>
                </div>
              </div>

