<div class="middle-widget">
    <div class="middle-160">
        <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" type="text/javascript">
        </script> <!-- hpg-middle-home-1 -->
        <ins class="adsbygoogle" style="display:inline-block;width:160px;height:600px" data-ad-client="ca-pub-5292560068649987" data-ad-slot="5095696799"></ins>
        <script type="text/javascript">
//<![CDATA[
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  //]]>
        </script>
    </div>
</div>
